h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(71, 194, 71);
    font-size: 4rem;
    margin: 0px;
    text-shadow: 4px 4px black;
}
body {
    background-color: beige;
}
main {
    display: flex;
}

/*--TABELA--*/

div#tabela{
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(9, 1fr);
    margin: 4rem;
    background-color: bisque;
    box-shadow: 4px 4px 10px black;
    padding: 20px;
}
#tabela>div:is(.roxo, .ciano, .vermelho, .laranja, .amarelo, .cinza, .rosa, .verde, .azul, .verdinho, .rosinha):hover{
   transform: scale(120%);
}

/*--LEGENDA--*/
   
   div#legenda{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin: 2rem;
    box-shadow: 4px 4px 10px black;
    background-color: bisque;
   }

   div#legenda>div {
    text-align: center;
    padding: 5px;
   }

   div#legenda-titulo {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
   }

   div#legenda>div {
    border: 1px solid black;
   }

   .roxo, .ciano, .vermelho, .laranja, .amarelo, .cinza, .rosa, .verde, .azul, .verdinho, .rosinha {
    border: 1px solid black;
    text-align: center;
    font-size: 2rem;
    padding: 5px;
    cursor: pointer;
   }

   div.roxo{
       background-color: rgb(164, 88, 235);
   }
   
   div.ciano{
       background-color: aqua;
   }
   
   div.vermelho{
       background-color: rgb(255, 139, 86);
   }
   
   div.laranja{
       background-color: hsl(39, 100%, 61%);
   }
   
   div.amarelo{
       background-color: hsl(61, 100%, 63%);
   }
   
   div.cinza{
       background-color: hsl(0, 0%, 76%);
   }
   
   div.rosa{
       background-color: hsl(342, 82%, 58%);
   }
   
   div.verde{
       background-color: hsl(130, 82%, 58%);
   }
   
   div.azul{
       background-color: hsl(236, 90%, 70%);
   }
   
   div.verdinho{
       background-color: hsl(110, 100%, 78%);
   }
   div.rosinha{
       background-color: pink;
   }
   /*div do JavaScript*/
footer {
    border: 1px solid black;
    height: 10vw;
    background-color: bisque;
    box-shadow: 2px 2px 5px black;
   }
footer div#pergunta {
    margin-left: 47%;
    margin-top: 3vw;
   }
footer div#resposta{
    margin-left: 43%;
}
footer div#botao{
    margin-left: 46.4%;
}
footer div#seletor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 20vw;
    margin-right: 20vw;
}