@import "orgnizacao.css";
@import "cores.css";

body{
  background-color: black;
  margin: 0%;
}

.pergunta{
  color: white;
}

div.tabela {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 0.3vw;
  width: 90%;
  padding: 0.5vw;
  color: white;
  /* margin-left: 1vw;
  margin-right: 1vw; */
}

.tabela>div:hover{
  transform: scale(130%);
  transition: 0.2s;
  color: black;
}

div.tabela>div{
  transition: 0.2s;
  text-align: center;
  font-size: 2vw;
  padding: 0.3vw;
  cursor: pointer;
}